$color-main: #283645;
$color-inactive: #e5e5e5;
$color-dark: #000000;
$color-light: #ffffff;
$color-accent: #d22856;
$color-second: #2aab6d;

$smallScreen: 415px;
$mediumScreen: 660px;
$largeScreen: 1200px;

$main-font: "Open Sans", sans-serif;
