.contacts__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts__callback {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
}

.contact__link {
  font-weight: 300;
  font-size: 24px;
  color: $color-accent;
  text-decoration: none;
  font-style: normal;
}

.contact__definition {
  font-weight: 700;
  font-size: 18px;
}

.map {
  position: relative;
  min-height: 200px;
  background: url("../img/map/map-triangle.svg") center -89px no-repeat,
  url("../img/map/map-xs.png") center no-repeat;
}

.map__decoration {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../img/map/map-triangle.svg");
  background-size: cover;
  background-position: center -165px;
  background-repeat: no-repeat;
}
