.contacts {
  position: relative;
  padding-top: 47px;

  @include mediumWidth() {
    padding-top: 55px;
  }

  @include largeWidth() {
    padding-top: 74px;
  }
}

.contacts__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-top: 45px;
  padding-bottom: 15px;

  @include mediumWidth() {
    padding-top: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts__callback {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  text-align: center;

  @include mediumWidth() {
    font-size: 40px;
  }

  @include largeWidth() {
    font-size: 50px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }

  @include mediumWidth() {
    &:not(:last-child) {
      margin-bottom: 50px;
    }
    margin-top: 0;
    width: 48%;
  }

  @include largeWidth() {
    &:not(:last-child) {
      margin-bottom: 0;
    }
    width: 33%;

    &--third {
      order: 3;
    }
  }
}

.contact__link {
  font-weight: 300;
  font-size: 24px;
  color: $color-accent;
  text-decoration: none;
  font-style: normal;
}

.contact__definition {
  font-weight: 700;
  font-size: 18px;
}

.map {
  position: relative;
  height: 200px;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: -2px;
    margin: 0;
    background-image: url("../img/map/map-decor.svg");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 500;
  }

  @include mediumWidth() {
    height: 375px;
  }

  @include largeWidth() {
    height: 502px;
  }
}
