.promo__item {
  margin: 0 0 24px;
  padding: 0 20px;
  font-size: 24px;
  text-align: center;

  &:last-of-type {
    margin-bottom: 0;
  }

  @include mediumWidth() {
    font-size: 40px;
  }

  @include largeWidth() {
    font-size: 50px;
    padding: 0 130px;
  }
}

.advantages {
  padding-top: 46px;
}

.advantages__list {
  margin: 0;
  list-style: none;
  background: linear-gradient(171deg, rgba(0, 212, 255, 0) 11%, rgba(242, 242, 242, 1) 11%);
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-rows: 120px repeat(3, min-content) 277px;

  @include mediumWidth() {
    background: linear-gradient(175deg, rgba(0, 212, 255, 0) 21%, rgba(242, 242, 242, 1) 21%);
    grid-template-rows: 120px repeat(3, min-content);
    grid-template-columns: 325px 325px;
  }

  @include largeWidth() {
    grid-template-columns: 130px repeat(3, minmax(250px, 270px)) 130px;
    grid-template-rows: 70px 1fr;
  }
}

.preference__phone {
  display: none;

  @include largeWidth() {
    display: block;
  }
}

.preference__item {
  max-width: 310px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mediumWidth() {
    align-items: flex-start;
  }

  @include largeWidth() {
    align-items: center;
  }

  &--first {
    grid-row: 2 / 3;

    @include largeWidth() {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }

  &--second {
    grid-row: 3 / 4;

    @include largeWidth() {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }

  &--third {
    grid-row: 4 / 5;

    @include largeWidth() {
      grid-column: 4 / 5;
      grid-row: 2 / 3;
    }
  }

  &--fourth {
    grid-row: -1 / -2;
    overflow: hidden;
    background-image: url("../img/advantages/iphone-mobile.png");
    background-repeat: no-repeat;
    background-position: top;

    @include mediumWidth() {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      background-image: url("../img/advantages/iphone-tablet.png");
      background-position: center 76px;
    }

    @include largeWidth() {
      display: none;
    }
  }
}

.preference__image {
  order: 3;
  display: none;

  &--mobile {
    display: block;
  }
}

.preference__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 18px;
  color: $color-dark;

  @include largeWidth() {
    font-size: 30px;
    text-align: center;
  }
}

.preference__descriprion {
  text-align: center;
  font-size: 14px;
  margin: 0 0 43px;

  @include mediumWidth() {
    text-align: left;
  }

  @include largeWidth() {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }
}
