.tariff {
  padding: 100px 0 45px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    background-color: #f2f2f2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: polygon(0 7%, 100% 0, 100% 100%, 0 100%);

    @media (min-width: $mediumScreen) {
      clip-path: polygon(0 9%, 100% 0, 100% 100%, 0 100%);
    }

    @media (min-width: $largeScreen) {
      clip-path: polygon(0 16%, 100% 0, 100% 100%, 0 100%);
    }
  }

  @media (min-width: $mediumScreen) {
    padding: 114px 20px 70px;
  }
}

.tariff__table {
  border-collapse: collapse;
  margin: 0 auto;
  display: none;

  @media (min-width: $mediumScreen) {
    display: table;
  }
}

.table-cost__cell {
  background-color: $color-light;
  border: 2px solid #e5e5e5;
  padding: 16px 22px;
  text-align: center;
  height: 45px;
  width: 153px;

  &--head {
    text-align: left;
  }
}

.table-cost__title {
  border-right: 2px solid #e5e5e5;
  background-color: #283645;
  color: $color-light;
  height: 75px;

  &--first {
    border-radius: 5px 0 0 0;
    vertical-align: center;
  }

  &--last {
    border-right: none;
    border-radius: 0 5px 0 0;
  }

  &--marked {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 61px;
      height: 61px;
      background-image: url(../img/icons/label.svg);
      background-position: center;
      top: 0;
      left: 0;
    }
  }
}

.tariff-mobile {
  //display: grid;
  //grid-template-columns: repeat(3, 280px);
  //grid-column-gap: 2px;

  @media (min-width: $mediumScreen) {
    display: none;
  }
}

.tariff-mobile__column {
  //border-right: 2px solid #e5e5e5;
  width: 280px;
}

.tariff-mobile__row {
  border-bottom: 2px solid #e5e5e5;
  background-color: $color-light;
  padding: 16px 19px 16px 22px;
  text-transform: uppercase;

  //&:first-child {
  //  border-left: 2px solid #e5e5e5;
  //}
}

.tariff-mobile__header {
  background-color: #283645;
  color: $color-light;
  padding: 20px 10px 35px;
  text-transform: uppercase;
  text-align: center;
}
